<div class="container">
  <h2 style="text-align: center;" class="mt-2">Cart</h2>

  <div *ngIf="totalSum>0; else cartEmpty">
    <div class="container" *ngIf="totalSum>0; else cartEmpty">
      <br>
      <table id="cart" class="table table-hover">
        <p style="padding-top: 10px"> To change Quantity, Edit Quantity and Click on Update button</p>
        <table id="cart" class="table table-hover table-condensed table-borderless">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tr *ngFor="let cart of items">
            <td scope="row">
            <td> {{cart.name}}</td>
            <td>{{cart.price | currency:'INR'}}</td>
            <div class="row">
              <div class="col-6">
                <input type="number" style="width: 75px;" value="{{cart.quantity}}" min="1" #quant>
                <input type="number" value="{{cart.quantity}}" min="1" #quant>
                <input type="hidden" value="{{cart.id}}" #prod>
              </div>
              <div class="col-6">
                <div class="row">
                  <!-- <div class="col-9">Total  : {{total | currency:'INR'}}</div> -->
                  <div class="col-9">Total Sum : {{totalSum | currency:'INR'}}</div>
                  <div class="offset-1 col-2"><a [routerLink]="['../payment']"><button type="button"
                        class="btn btn-primary align-right" (click)="goToPaymentPage()">Checkout <i
                          class="fa fa-angle-right"></i></button></a></div>
                </div>
              </div>
              <ng-template #cartEmpty>
                <div class="text-center">
                  <img src="assets/images/empty-cart.png" width="600" height="300" class="justify-center"><br>
                </div>
              </ng-template>
              <button (click)="goBackToAccessories()" class="btn btn-primary"> Continue Shopping</button>
              <button *ngIf="totalSum!=0" type="button" class="btn btn-primary right"
                (click)="goToPaymentPage()">Checkout </button>
            </div>
    </div>
  </div>