<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="bg">
    <div class="container">

        <h2>Technical Support and Query Form </h2>
        <form >
            <!-- Full Name -->
            <div class="form-group">
                <label for="name">Full Name : </label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.fullName" required />
            </div>

            <!--Email-->
            <div class="form-group">
                <label for="contact">Email : </label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                    />
            </div>
           
                <!--Customer Contact No-->
                <div class="form-group">
                    <label for="contact">Contact No : </label>
                    <input type="tel" class="form-control" id="contact" name="contact" [(ngModel)]="user.contact"
                        required minlength="6" maxlength="10"/>
                </div>


                <!-- Frequently asked questions-->

                <div class="form-group">
                    <label for="question">Frequently asked questions ?</label>
                    <div id="answer">
                        <select [(ngModel)]="user.question" name="question" #question="ngModel">
                            <option value="Select a question" selected disabled>Select a question</option>
                            <option value="How to create a new account ?">How to create a new account ?</option>
                            <option value="How to track my gas delivery status ?">How to track my gas delivery status ?
                            </option>
                            <option value="How to cancel my gas booking ?">How to cancel my gas booking ?</option>

                        </select>

                    </div>

                </div>
                <div class="form-group">
                    <label for="question">Others : </label>
                    <div id="text-box">
                        <textarea form="input" id="txtarea1" placeholder="Write your question here..."
                            [(ngModel)]="user.others" name="reason_other" cols="40" rows="5"></textarea>
                    </div>
                    <button (click)="save()" type="submit" class="btn btn-primary">Send </button>
                </div>
        </form>


        
    </div>
</div>