<app-header></app-header>
<div id="pricing" class="cards-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Business Services</h2>
        <p class="p-heading p-large">E-gas seva will provide the users by with
          all the service online. Customers can view all the services provided at all the
          locations. It is highly befitting to provide services to customers.</p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Card-->
        <div class="card">
          <div class="card-body">
            <div class="card-title">ADDITIONAL FEATURES</div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">A Guest User can see the recent Rate of LPG Gas
                  Cylinder declared by Indian Government
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">A Guest User can see the Security aspects about Usability of
                  LPG Gas.</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">A Guest user can see the procedures to be followed for
                  getting a new LPG Gas Connection.</div>
              </li>

            </ul>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card-->
        <div class="card">
          <div class="card-body">
            <div class="card-title">USER INTERFACE</div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Professional look and feel</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Browser testing and support for Internet Explorer, Netscape
                  Navigator, Mozila, and Firefox.</div>
              </li>

            </ul>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card-->
        <div class="card">
          <div class="card-body">
            <div class="card-title">FEATURES</div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Online booking facility for LPG Gas</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Nearest LPG Gas center</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Transfer LPG connection from one location to another</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Search and request for accessories</div>
              </li>
            </ul>
          </div>
        </div> <!-- end of card -->
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-2 -->

<!-- end of pricing -->