<div class="container">
    <form [formGroup]="customerForm">
        <p> {{ customerForm.value | json }} </p>
        <!-- Customer Name -->
        <div class="form-group">
            <label for="name">Customer Name : </label>
            <input type="text" 
            [class.is-invalid]="customerName.invalid && customerName.touched" class="form-control"
                id="name" formControlName="customerName" required>

            <!-- Validation for Name field -->

            <div *ngIf="customerName.invalid && customerName.touched">
                <small class="text-danger" *ngIf="customerName.errors?.required">Name is required</small>
            </div>

        </div>

        <!-- Customer EmailId-->
        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" class="form-control" [class.is-invalid]="customerEmail.invalid && customerEmail.touched"
                id="email" formControlName="customerEmail" required>
            <div *ngIf="customerEmail.invalid && customerEmail.touched">
                <small class="text-danger" *ngIf="customerEmail.errors?.required">Email is required</small>
                <small class="text-danger" *ngIf="customerEmail.errors?.pattern">Enter Valid Email</small>
            </div>
        </div>

        <!-- Customer Password -->
        <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" [class.is-invalid]="customerPassword.invalid && customerPassword.touched"
                class="form-control" id="password" formControlName="customerPassword">

            <div *ngIf="customerPassword.invalid && customerPassword.touched">
                <small class="text-danger" *ngIf="customerPassword.errors?.required">Password is required</small>
                <small class="text-danger" *ngIf="customerPassword.errors?.minlength">Password must have atleast 8
                    characters</small>
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="password">Confirm Password : </label>
            <input type="password" [class.is-invalid]="customerForm.errors?.misMatch" class="form-control"
                id="confirmPassword" formControlName="confirmPassword" >
            <small class="text-danger" *ngIf="customerForm.errors?.misMatch">Password Mismatch</small>

        </div> -->

        <!-- Gas Agency -->
        <div class="form-group">
            <label for="agency">Gas Agency : </label>
            <input type="text" class="form-control" id="agency" formControlName="gasAgency" required>
        </div>

        <!--Customer Contact No-->
        <div class="form-group">
            <label for="contact">Contact No : </label>
            <input type="number" class="form-control" [class.is-invalid]="customerPhone.invalid && customerPhone.touched"
                id="contact" formControlName="customerContactNo" required>

            <div *ngIf="customerPhone.invalid && customerPhone.touched">
                <small class="text-danger" *ngIf="customerPhone.errors?.required">Phone number is required</small>
                <small class="text-danger" *ngIf="customerPhone.errors?.pattern">Phone number must have atleast 10 characters</small>
            </div>
        </div>

        <!-- Customer Address -->
        <div formGroupName="customerAddress">
            <h4> Customer Address </h4>
            <div class="form-group">
                <label>
                    Street:
                    <input type="text" class="form-control" 
                        [class.is-invalid]="customerStreet.invalid && customerStreet.touched"
                        formControlName="street" required>
                    <small class="text-danger" [class.d-none]="customerStreet.valid || customerStreet.untouched">Street is required</small>
                </label>

                <label>
                    City:
                    <input type="text" class="form-control" 
                    [class.is-invalid]="customerCity.invalid && customerCity.touched"
                        formControlName="city" required>
                        <small class="text-danger" [class.d-none]="customerCity.valid || customerCity.untouched">city is required</small>
                </label>

                <label>
                    State:
                    <input type="text" class="form-control" 
                    [class.is-invalid]="customerState.invalid && customerState.touched"
                    formControlName="state" required>
                    <small class="text-danger" [class.d-none]="customerState.valid || customerState.untouched">state is required</small>
                </label>

                <label>
                    Zip Code:
                    <input type="number" class="form-control" 
                    [class.is-invalid]="customerZip.invalid && customerZip.touched" 
                    (onBlur)="zip()"
                    formControlName="zip" required>
                    <small class="text-danger" [class.d-none]="customerZip.valid || customerZip.untouched">zip is required</small>
                </label>
            </div>
            <div>
                <!-- <a href="http://postalpincode.in/api/pincode/">Click</a> -->
            </div>
        </div>
        <div>
            <re-captcha (resolved)="resolved($event)" siteKey="6Le2GL0UAAAAAGat2fVpOMp7UOS1hjAcbNXnGEKd"></re-captcha>
        </div>
        <p> Form Status : {{ customerForm.status| json }} </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>