<!--<link rel="stylesheet" type="text/css">

  top nav bar
  <br>
  left  bar
  <div class="top">
    <app-common-header></app-common-header>
  </div>


  <div class="sidebar">
    <aside id="leftNav">
      <ul>
        <div>
          <li>
            <fa name="home"></fa><a routerLink="registrationStepper"> Notification</a>
          </li>
        </div>
        <div>
          <li>
            <fa name="users"></fa><a routerLink="bookinginfo"> Booking Information</a>
          </li>
        </div>
        <div>
          <li>
            <fa name="check"></fa><a routerLink="query"> Queries </a>
          </li>
        </div>
        <div>
          <li>
            <fa name="car"></fa><a href="#"> Help</a>
        </div>

      </ul>
    </aside>
  </div>-->




<!--- <router-outlet>


      <div class="top-nav">

        <h1>Dealer Page</h1>



      </div>
    </router-outlet>-->

<div class="sidebar-container">
  <div class="sidebar-logo">
    
    
        <img src="assets/images/logo.PNG" width="250" height="120">
      
  </div>
  <ul class="sidebar-navigation">
    <li class="header">
      <img src="assets/images/c1.png" width="160" height="180">
    </li>
    <li>
      <a routerLink="bookinginfo">
        <i class="fa fa-home" aria-hidden="true"></i> Booking Information
      </a>
    </li>



    <li>
      <a routerLink="query">
        <i class="fa fa-cog" aria-hidden="true"></i> Queries
      </a>
    </li>

  </ul>
  <div class="logout">
    <li>
      <a routerLink="logout">
        <i class="fa fa-cog" aria-hidden="true"></i> LogOut
      </a>
    </li>
  </div>
</div>
<main>


  <router-outlet>


    <div class="top-navd">

      <h1>Welcome dealer</h1>



    </div>
  </router-outlet>



  <button id="cc" type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
    mdbWavesEffect>CHATBOT</button>
  <div class="container">
    <div style="overflow-y: auto" mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
      aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-side modal-bottom-right " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="modal-header" type="button" class="close pull-right" aria-label="Close"
              (click)="basicModal.hide()">
              <span class="hi" aria-hidden="true"> - </span>
            </button>
            <h1 class="modal-title w-100" id="myModalLabel"> Welcome to Chat Bot !</h1>

          </div>
          <hr>
          <div class="modal-body">
            <chat-dialog></chat-dialog>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>