<app-header></app-header>



<!--left  bar-->
<!-- <aside id="leftNav">
    <ul>

      <div><li class="fa fa-users"><a href="#"> Manage Dealer</a></li></div>
      <div><li class="fa fa-line-chart"><a href="#"> Reports</a></li></div>
      <div><li class="fa fa-check"><a href="#"> check </a></li></div>
      <div><li class="fa fa-car"><a href="#"> help</a></div>
    </ul>
  </aside> -->





<!-- right side-->
<main>
  <div class="maincontent">

    <div id="leadership">
      <div class="card-container">
        <!-- <a class="card" href="https://angular.io/tutorial" id="card-small" style="background-color: #B975FA">
          <span>Active Device</span>

        </a>
        <a class="card" href="https://angular.io/tutorial" id="card-small" style="background-color:	#697AE6">
          <span>Learn Angular</span>
        </a>
        <a class="card" href="https://angular.io/tutorial" id="card-small" style="background-color:#FF9B8C">
          <span>Learn Angular</span>
        </a>
        <a class="card" href="https://angular.io/tutorial" id="card-small" style="background-color:#F688DA">
          <span>Learn Angular</span>
        </a> -->
        <!-- <a class="card" href="https://angular.io/tutorial" id="card1" style="background-color:#1F5BA1">
            <span>Learn Angular</span>
          </a>
          <a class="card" href="https://angular.io/tutorial" id="card2" style="background-color:#671EA1">
            <span>Learn Angular</span>
             </a> -->
        <div class="left">
          <div class="chart-wrapper">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>

        <div class="right">
          <div class="chart-wrapper">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>