
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    color:gray;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*------end of css reset----*/



/*------header-------*/
header div span{
    padding-right: 10px;
}
.toolbar{
    background-color: brown;
    height: 70px;
}
.dashboard{
  padding-top: 10px;
    font-weight:bold;
    font-size: 36px;
    font-family:  sans-serif;
}

/*------keft navigation bar-------*/
#leftNav{
    float:left;
    width: 17%;
    height:100%; 
    
}
#rightNav{
    float: right; 
    width: 70%;  
    text-align: left;
    background-color: beige;
    padding: 35px;
}
aside{
    margin-top:44px;
    min-height: 100vh;
    position:fixed;
}
li{
    list-style-type: none;
}
aside div li a{
    text-decoration-line: none;
    font-weight:bold;
    color:black;
    font-size: 20px;
    border-block-color: black;
    
}
aside div{
  padding: 12px;
  border-radius: 7px;
  margin-left: 8px;
  background-color: white;
}
aside div:hover{
    background-color:lightgrey;
}

#cc{
   
   position:fixed;
   bottom:0;
   right:0;
}


#leftNav[_ngcontent-ler-c2] {
    float: left;
    width: 17%;
    height: 100%;

    background-color: lightgray;
}
h1{
    
    font-size:20px;
    text-align: center;
    padding-top:6px;
   margin-top: 11%;
   color:whitesmoke;
   font-style:italic;
}
.modal-title {
    background-color: rgb(19, 128, 179);
    padding:10px;
    border-top-left-radius: 1.125rem;
    border-top-right-radius: 1.125rem;
    margin-top:-2px;
    
}
.modal-dialog .modal-content {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 1.125rem;
    border: 0;
}
.hi{
    color:white;
    font:bold;
    margin-top:50px;
   
}

/*top bar*/
.top-nav{
    height: 300px;
    background-image: linear-gradient(to right,rgb(111, 132, 255),rgb(139, 138, 138));
    float: right;
    width: 80%;
}


.top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .top li {
    float: right;
  }
  
  .top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top li a:hover:not(.active) {
    background-color: gray;
  }
  
  .active {
    background-color: #4CAF50;
  }









