<!-- Editable table -->
<div class="card">

    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
                        aria-hidden="true"></i></a></span>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>

                        <th class="text-center">Name</th>
                        <th class="text-center">Query</th>
                        <th class="text-center">Reply</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                        <td class="pt-3-half" contenteditable="true">30</td>
                        <td>

                            <input type="text-area" rows="2" cols="2">

                        <td>
                            <span class="table-remove"><button type="button"
                                    class="btn btn-danger btn-rounded btn-sm my-0">Send</button></span>
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->

                    <!-- This is our clonable table line -->


                </tbody>
            </table>
            <br>
            <hr>
            <br>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
    
                            <th class="text-center">Name</th>
                            <th class="text-center">Query</th>
                            <th class="text-center">Reply</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-3-half">Aurelia Vega</td>
                            <td class="pt-3-half">30</td>
                            <td>
    
                                <input type="text-area" rows="2" cols="2">
    
                            <td>
                                <span class="table-remove"><button type="button"
                                        class="btn btn-danger btn-rounded btn-sm my-0">Send</button></span>
                            </td>
                        </tr>
                        <!-- This is our clonable table line -->
    
                        <!-- This is our clonable table line -->
    
    
                    </tbody>
                </table>



        </div>
    </div>
</div>




<!-- Editable table -->
