<div class="container">
  <div >
    <h2>PayU Payment Form</h2> 
     <form ngNoForm action="https://test.payu.in/_payment" name="payuform" method="POST" target="payment_popup"
      onsubmit="window.open('about:blank','payment_popup','width=900,height=500');">
      <div class="form-group">
        <label for="firstname">Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname"
          [(ngModel)]="payuform.firstname" [disabled]="true">
      </div>
     


  <div class="form-group">
    <input type="hidden" class="form-control" id="productinfo" name="productinfo" [(ngModel)]="payuform.productinfo" >
  </div>


  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="payuform.email" [disabled]="true">
  </div>


  <div class="form-group">
    <label for="email">Phone:</label>
    <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone" [disabled]="true">
  </div>


  <div class="form-group">
    <label for="amount">Amount: <strong>{{amount | currency:'INR'}}</strong></label>
    <input type="hidden" class="form-control" id="amount" name="amount" [(ngModel)]="payuform.amount">
  </div>


  <textarea name="surl" id="surl" ng-model="surl" rows="2" cols="2" hidden [(ngModel)]="payuform.surl"></textarea>
  <textarea name="furl" id="furl" ng-model="furl" rows="2" cols="2" hidden [(ngModel)]="payuform.furl"></textarea>
  <textarea name="key" id="key" ng-model="key" rows="2" cols="2" hidden [(ngModel)]="payuform.key"></textarea>
  <textarea name="hash" id="hash" ng-model="hash" rows="2" cols="2" hidden [(ngModel)]="payuform.hash"></textarea>
  <textarea name="txnid" id="txnid" ng-model="txnid" rows="2" cols="2" hidden [(ngModel)]="payuform.txnid"></textarea>
  <textarea name="service_provider" id="service_provider" rows="2" cols="2" hidden></textarea>
  <button *ngIf="disablePaymentButton" type="button" class="btn btn-success" (click)="confirmPayment()">Confirm</button>
  <button *ngIf="!disablePaymentButton" type="submit" class="btn btn-danger">Submit</button>
  </form>  
 </div>
</div>

<!-- <div class="container">
    <h2>PayU Payment Form</h2>
  <form ngNoForm action="https://test.payu.in/_payment" name="paymentForm" method="POST" target="payment_popup"
    onsubmit="window.open('about:blank','payment_popup','width=900,height=500');">
    <div class="form-group">
      <label for="firstname">Name:</label>
      <input type="text" formControlName="name" class="form-control" id="firstname" name="firstname"
        [(ngModel)]="paymentForm.firstname">
    </div>
    <div
      *ngIf="paymentForm.controls['name'].invalid && (paymentForm.controls['name'].dirty || paymentForm.controls['name'].touched)"
      class="alert alert-danger">
      <div *ngIf="paymentForm.controls['name'].errors.required">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="productInfo">Product Name:</label> 
      <input type="hidden" formControlName="productinfo" class="form-control" id="productinfo" name="productinfo"
        [(ngModel)]="paymentForm.productinfo">
    </div>
    <div
      *ngIf="paymentForm.controls['productinfo'].invalid && (paymentForm.controls['productinfo'].dirty || paymentForm.controls['productinfo'].touched)"
      class="alert alert-danger">
      <div *ngIf="paymentForm.controls['productinfo'].errors.required">
        Name is required.
      </div>
    </div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" id="email" name="email" [(ngModel)]="payuform.email">
    </div>
    <div
      *ngIf="paymentForm.controls['email'].invalid && (paymentForm.controls['email'].dirty || paymentForm.controls['email'].touched)"
      class="alert alert-danger">
      <small><div *ngIf="paymentForm.controls['email'].errors.required">
        Email is required.
      </div></small>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="number" formControlName="phone" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone">
    </div>
    <div
      *ngIf="paymentForm.controls['phone'].invalid && (paymentForm.controls['phone'].dirty || paymentForm.controls['phone'].touched)"
      class="alert alert-danger">
      <small><div *ngIf="paymentForm.controls['phone'].errors.required">
        Phone is required.
      </div></small>
    </div>


    <div class="form-group">
      <label for="amount">Amount: <strong>{{amount | currency:'INR'}}</strong></label>
      <input type="hidden" formControlName="amount" class="form-control" id="amount" name="amount" [(ngModel)]="payuform.amount">
    </div>
    


    <textarea name="surl" id="surl" ng-model="surl" rows="2" cols="2" hidden [(ngModel)]="payuform.surl"></textarea>
    <textarea name="furl" id="furl" ng-model="furl" rows="2" cols="2" hidden [(ngModel)]="payuform.furl"></textarea>
    <textarea name="key" id="key" ng-model="key" rows="2" cols="2" hidden [(ngModel)]="payuform.key"></textarea>
    <textarea name="hash" id="hash" ng-model="hash" rows="2" cols="2" hidden [(ngModel)]="payuform.hash"></textarea>
    <textarea name="txnid" id="txnid" ng-model="txnid" rows="2" cols="2" hidden [(ngModel)]="payuform.txnid"></textarea>
    <textarea name="service_provider" id="service_provider" rows="2" cols="2" hidden></textarea>
    <button *ngIf="disablePaymentButton" type="button" class="btn btn-success"
      (click)="confirmPayment()">Confirm</button>
    <button *ngIf="!disablePaymentButton" type="submit" class="btn btn-danger">Submit</button>

  </form>
</div> -->